:root {
  --redColor: rgba(244, 67, 54, 1);
  --blueColor: rgba(33, 150, 243, 1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.picturePart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
}

.navPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px;
  font-family: 'Geist';
}

.list {
  position: relative;
  width: 20%;
}

.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.list ul {
  position: relative;
}

.list ul li {
  position: relative;
  left: 0;
  color: #fff;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}

.list ul li:hover {
  left: 10px;
}

.list ul li span { 
  position: relative;
  width: 20%;
}

.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.list ul {
  position: relative;
}

.list ul li {
  position: relative;
  left: 0;
  color: #fff;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}

.list ul li:hover {
  left: 10px;
}

.list ul li span {
  position: relative;
  padding: 8px;
  /* padding-left: 12px; */
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  color: white;
}

.list ul li:hover span {
  color: #111;
}

.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.list ul li:hover:before {
  transform: scaleX(1);
}

.list {
  padding: 24px 0;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  color: white;
}

.list ul li:hover span {
  color: #111;
}

.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.list ul li:hover:before {
  transform: scaleX(1);
}


.actuality {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #111;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  color: #fff;
  font-size: 150px;
  font-weight: 800;
  mix-blend-mode: difference;
  padding: 10px 0;
  font-family: 'Clash Display';
  text-transform: uppercase;
  display: flex;
}

.miniBio span {
  color: white;
}

.marquee-content {
  display: flex;
  animation: marquee 35s linear infinite;
}

.marquee-content span {
  display: inline-block;
  padding-right: 50px;
}

.actuality {
  background-color: whitesmoke;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 160px 80px;
  font-family: "Geist";
}

.title-part {
  font-size: 26px;
  margin-bottom: 16px;
}

.subtitle-part {
  font-family: 'Geist Mono';
  font-size: 16px;
  margin-bottom: 20px;
}

.custom-hr {
  width: 20%;
  border: none;
  height: 1px;
  background-color: #000;
  margin: 0 0 20px;
}

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
}

.carousel-button {
  background: none;
  border: none;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
}

.video-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.video-container {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 10px;
  box-sizing: border-box;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-self: center;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #007bff;
}

.flex-center {
  background: #000;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.icon-3d {
  padding: 10px;
  color: #fff;
}

.icon-3d:hover {
  animation: icon3d 1s infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px var(--redColor), -5px -6px var(--blueColor);
  }
  25% {
    text-shadow: -5px -6px var(--redColor), 5px 4px var(--blueColor);
  }
  50% {
    text-shadow: 5px -4px var(--redColor), -8px 4px var(--blueColor);
  }
  75% {
    text-shadow: -8px -4px var(--redColor), -5px -4px var(--blueColor);
  }
  100% {
    text-shadow: -5px 0 var(--redColor), 5px -4px var(--blueColor);
  }
}


@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}