.footer {
    display: flex;
    height: 60px;
    width: 100%;
    font-family: 'Geist';
}
  
.footer-left {
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    background-color: #021213;
    align-items: center;
    padding: 0 20px 0 200px;
    justify-content: space-between;
}

.footerCreator a {
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

.footer-right {
    flex: 1;
    background-color: white;
    padding: 0 200px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerSponsors {
    display: flex;
    gap: 24px;
}

.footerSponsors a {
    display: flex;
    align-items: center;
}

.footerSponsorLogo {
    height: auto;
    width: 80px;
    object-fit: contain;
}

.footerIcon {
    height: 26px;
}

.footerIcon:hover {
    animation: simpleBounce 2s infinite;
  }

@keyframes simpleBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 425px) {
    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer-left {
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footerIcon {
        color: white !important;
    }

    .footerIcons {
        width: 100%;
        display: flex;
        justify-content: center;
        /* margin-bottom: 10px; */
        color: white !important;
    }

    .footerCreator {
        width: 100%;
        margin-top: 10px;
    }

    .footer-right {
        padding: 20px;
    }

    .footerSponsors {
        display: flex;
        flex-wrap: wrap;
    }

    .footerSponsorLogo {
        width: 70px;
    }

    .footerSponsors a {
        flex: 1 0 20%;
    }
}